# =========================
# SolidWorks temporary files
# =========================
*.swp
*.bak
*.sldprt~
*.sldasm~
*.slddrw~
~$*

# =========================
# SolidWorks autosave/recovery
# =========================
*.autoRecover
*.AutoRecover

# =========================
# Windows junk
# =========================
Thumbs.db
Desktop.ini

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Visual Studio
# =========================
.vs/
bin/
obj/

# =========================
# STM32CubeIDE
# =========================
Debug/
Release/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Logs
# =========================
*.log